{% extends 'base.html.twig' %}

{% block title %}Contact - Jacl{% endblock %}

{% block body %}



    <div class="container">
        <h1 class="mt-2 mb-4">Contact</h1>
        <p>Contactez nous pour plus d'informations</p>
    </div>

    {{ form_start(form) }}

    <div class="container">
        <div class="row">

            <div class="col-md-6">
                {{ form_row(form.firstname) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.lastname) }}
            </div>
        </div><!--ENDROW-->

            {{ form_row(form.email) }}

            {{ form_row(form.subject) }}

            {{ form_row(form.message) }}

        <div class="align-self-center">
            <button type="submit" class="btn btn-primary container-fluid">
                Envoyer
            </button>
        </div>

        {{ form_end(form) }}

    </div><!--END CONTAINER FORM-->

{% endblock %}
