{% extends 'base.html.twig' %}

{% block title %}Contact - Jacl{% endblock %}

{% block body %}



    <div class="container">
        <h2 class="mt-4 mb-3 mb-md-5 text-uppercase text-center">Contactez nous pour plus d'informations</h2>

    </div>


    <div class="container">
        <div class="row">

            <div class="col-md-6 mt-5">


            {{ form_start(form) }}

                {{ form_row(form.firstname) }}

                {{ form_row(form.lastname) }}

                {{ form_row(form.email) }}

                {{ form_row(form.message) }}

            {{ form_end(form) }}

                <div class="align-self-center mb-3">
                    <button type="submit" class="btn btn-primary container-fluid">
                        Envoyer
                    </button>
                </div>
            </div>
            <div class="col-md-6">

                <div class="card text-black-50 mb-5">
                    <div class="card-header">
                        <p class="text-center text-uppercase font-weight-bold mb-0">Informations</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <p class="mb-0 text-center">
                                <i class="far fa-clock"></i>&nbsp;&nbsp;&nbsp;
                                Ouvert du Lundi au Vendredi
                                9:00 - 19:00
                            </p>
                        </li>
                        <li class="list-group-item">
                            <div class="mb-0 text-center">
                                <i class="fas fa-phone"></i>&nbsp;&nbsp;&nbsp;
                                n° 01.02.03.04.05
                            </div>
                        </li>
                        <li class="list-group-item">
                            <p class="mb-0 text-center">
                                <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;
                                18 Rue Geoffroy L' Asnier 75004 PARIS
                            </p>
                        </li>
                    </ul>
                </div>


                            <div class="map-responsive mb-5 img-thumbnail ">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d985.6079099312252!2d2.355598001177159!3d48.854673202735626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671fd10fa77a9%3A0xb2bbd365849898f2!2sEcole+Webforce3!5e0!3m2!1sfr!2sfr!4v1550588854517" width="580" height="230" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>


            </div>
        </div><!--ENDROW-->



    </div><!--END CONTAINER FORM-->

{% endblock %}
