{% extends 'base.html.twig' %}



{% block body %}

<h2 class="text-center pt-5 pb-4 font-weight-bold text-uppercase">Nos patients</h2>
    <div class="container mt-4">

        <div class="row">


            <div class="col-12 col-md-6 npt card mb-3 mr-5 shadow " style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4 mb-2 mt-2">
                        <img src="{{ asset('images/sportif.jpg') }}" class="card-img img-thumbnail" alt="sportif">
                    </div>

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-center ">Sportifs</h5>
                            <div class="mt-5">
                                <small class="card-text font-weight-light">Parce que prendre soin de son corps permet de rétablir l’équilibre corporel et d’optimiser les performances.</small>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-12 col-md-6 npt card mb-3 shadow" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4 mb-2 mt-2">
                        <img src="{{ asset('images/seniors.jpg') }}" class="card-img img-thumbnail" alt="senior">
                    </div>

                    <div class="col-md-8 ">
                        <div class="card-body">
                            <h5 class="card-title text-center">Séniors</h5>
                            <div class="mt-5">
                                <small class="card-text font-weight-light">Parce que gagner en âge et en sagesse, n’est pas de tout repos. L’arthrose n’est pas une maladie mais l’évolution de la vie.</small>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-12 col-md-6 npt card mb-3 mr-5 shadow" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4 mb-2 mt-2">
                        <img src="{{ asset('images/enfant.jpg') }}" class="card-img img-thumbnail" alt="enfant">
                    </div>

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-center">Enfants-Adolescents</h5>
                            <div class="mt-5">
                                <small class="card-text font-weight-light">Parce que le poids des connaissances s’alourdit avec le poids du cartable… Il est important de prévenir les problèmes de dos</small>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-12 col-md-6 npt card mb-3 shadow" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4 mb-2 mt-2">
                        <img src="{{ asset('images/travailleur.jpg') }}" class="card-img img-thumbnail" alt="travailleur">
                    </div>

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-center">Travailleurs</h5>
                            <div class="mt-5">
                                <small class="card-text font-weight-light">Parce que garder les mêmes positions derrière son bureau et son ordinateur contribue au mal du siècle qu’est le mal de dos.</small>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-12 col-md-6 npt card mb-3 mr-5 shadow" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4 mb-2 mt-2">
                        <img src="{{ asset('images/enceinte.jpg') }}" class="card-img img-thumbnail" alt="femme enceinte">
                    </div>

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-center">Femmes enceintes</h5>
                            <div class="mt-5">
                                <small class="card-text font-weight-light mt-5">Lors de l’accouchement, le nourrisson subit le premier traumatisme de sa vie. Optimiser son système de défense naturelle, sa digestion et son sommeil pour une croissance harmonieuse.</small>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-12 col-md-6 npt card mb-3 shadow " style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4 mb-2 mt-2">
                        <img src="{{ asset('images/famille.jpg') }}" class="card-img img-thumbnail" alt="famille">
                    </div>

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-center">Tout le Monde</h5>
                            <div class="mt-5">
                                <small class="card-text font-weight-light">La Chiro C’est Bon pour la Vie ! Pour les Grands et les Petits!</small>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div><!-- END .ROW-->

    </div><!-- END .CONTAINER-->

{% endblock %}
