{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
    {{ form_start(form) }}

        {{ form_row(form.paiement) }}
        {{ form_row(form.diagnostic) }}
        {{ form_row(form.traitement) }}
        {{ form_row(form.commentaire) }}



    <div class="text-right mb-5">
        <button type="submit" class="btn btn-primary col-md-12">Valider</button>
    </div>
        {{ form_end(form) }}
    </div>




{% endblock %}