{% extends 'base.html.twig' %}

{% block body %}


    <h2 class="text-center mb-5 mt-5">Gestion de mes rendez-vous</h2>

    <div class="card container p-0 mb-5">
        <div class="card-header bg-head">
            <h3 class="text-center mb-0">Bonjour {{ app.user }}, nous sommes le {{ date | date('d/m/Y')}}</h3>
        </div>
        <div class="card-body bg-card">
            <blockquote class="blockquote mb-0">
                <form>
                    <h3 class="mt-2 mb-4 text-center"><ins></ins></h3>
                    <div class="container d-flex justify-content-center">

                        <div class="form-group mr-3">
                            <label >Du :</label>
                            <input type="text" class="form-control datepicker" name="date_de_debut">
                        </div>
                        <div class="form-group ml-3">
                            <label>Au :</label>
                            <input type="text" class="form-control datepicker" name="date_de_fin">
                        </div>

                    </div>
                    <div class="form-group ml-3 mt-2 d-flex  justify-content-center ">
                        <button type="submit" class="btn btn-info w-10 mr-3"
                        >Filtrer</button>
                        <button type="submit" class="btn btn-info w-10 ml-3"
                        ><a href="{{ path('app_admin_admin_index') }}"></a>Annuler</button>
                    </div>
                </form>
            </blockquote>
        </div>
    </div><!--Fin card container-->

    <div class="container">
        <table class="table table-responsive myRDVtable  table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col" class="text-center">Patient</th>
                <th scope="col" class="text-center">Id_RDV</th>
                <th scope="col" class="text-center" >Date</th>
                <th scope="col" class="text-center">Motif</th>
                <th scope="col" class="text-center">Profession</th>
                <th scope="col" class="text-center">Sportif</th>
                <th scope="col" class="text-center">Fumeur</th>
                <th scope="col" class="text-center">Antécédents</th>
                <th scope="col" class="text-center">Médicaments</th>
                <th scope="col" class="text-center">Allérgies</th>
                <th scope="col" class="text-center">Sommeil</th>
                <th scope="col" class="text-center">Statut</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>

            </tr>
            </thead>
            <tbody>

            {% for booking in bookings %}
                {% if booking.status == 'EN_ATTENTE' %}
                <tr>
                    <td class="text-center">{{ booking.user}}</td>
                    <td class="text-center" >{{ booking.id }}</td>
                    <td class="text-center">{{ booking.date | date('d/m/Y H:m') }}</td>
                    <td class="text-center">{{ booking.motive }}</td>
                    <td class="text-center">{{ booking.job }}</td>
                    <td class="text-center">{{ booking.sports }}</td>
                    <td class="text-center">{{ booking.smoker }}</td>
                    <td class="text-center">{{ booking.medicalPast }}</td>
                    <td class="text-center">{{ booking.medication }}</td>
                    <td class="text-center">{{ booking.allergies }}</td>
                    <td class="text-center">{{ booking.sleepSchedule }}/10</td>
                    <td class="text-center">{{ booking.status }}</td>
                    <td><a class="btn btn-info" href="{{ path('app_admin_admin_update', {"id" : booking.id}) }}">Modifier</a></td>
                    <td><a class="btn btn-info" href="{{ path('app_admin_admin_viewprofil', {"id" : booking.user.id})
                        }}">Profil</a></td>
                    <td><a class="btn btn-info" href="{{ path('app_admin_admin_manage', {"id" : booking.id})
                        }}">Séance</a></td>

                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div><!--Fin container-->



{% endblock %}