{% extends 'base.html.twig' %}

{% block body %}
    <h2 class=" text-center mt-3 mb-3">Valider mes consultations</h2>
    <div class="container d-flex">


        <div class="col-md-6">
            {{ form_start(form) }}

            {{ form_row(form.paiement) }}
            {{ form_row(form.diagnostic) }}
            {{ form_row(form.traitement) }}
            {{ form_row(form.commentaire)}}


            <div class="text-right">
                <button type="submit" class="btn btn-outline-primary">Valider</button>
            </div>
            {{ form_end(form) }}

        </div>
        <div class=" ml-5 mt-3 d-flex justify-content-center">
            <div class="card shadow" style="width: 18rem; ">
                <div class="card-header text-black-50 font-weight-bold text-center">
                    <h3>Séance de {{ booking.user }}</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-black-50"><strong>Nom </strong> : {{ booking.user.lastname }}</li>
                    <li class="list-group-item text-black-50"><strong>Prénom </strong> : {{ booking.user.firstname }}</li>
                    <li class="list-group-item text-black-50"><strong>Age </strong> : {{ booking.user.age }} ans</li>
                    <li class="list-group-item text-black-50"><strong>Email </strong> : {{ booking.user.email }}</li>
                    <li class="list-group-item text-black-50"><strong>Adresse </strong> : {{ booking.user.adress}}</li>
                    <li class="list-group-item text-black-50"><strong>Téléphone </strong> : {{ booking.user.telephone}}</li>
                </ul>
                <div class="mt-1 d-flex justify-content-center" >
                    <a class="btn btn-info text-white" href="{{ path('app_admin_admin_index')}}" style="width: 18rem;">Retour</a>
                </div>
            </div><!--FIN CARD-->
        </div> <!--FIN CONTENT CENTER-->




    </div>




{% endblock %}