{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-3 mb-3">
    <h1>
        Modification RDV pour <strong>{{ booking.user }}</strong>
    </h1>
    <hr>
</div>

    <div class="d-block d-md-flex col-12 ">

        <div class="col-12 col-md-6 mb-5">
            {{ form_start(form) }}
            {{ form_row(form.date) }}
            {{ form_row(form.motive) }}
            {{ form_row(form.job) }}
            {{ form_row(form.sports) }}
            {{ form_row(form.medical_past) }}
            {{ form_row(form.smoker) }}
            {{ form_row(form.medication) }}
            {{ form_row(form.allergies) }}
            {{ form_row(form.sleep_schedule) }}
            <div class="text-right">
                <button type="submit" class="btn btn-info w-100" >Modifier</button>
            {{ form_end(form) }}
            </div>
        </div><!-- col-12.col-md-6  FIN FORM-->

        <div class="d-none d-md-flex align-self-md-center col-md-1 ">
            <img class="w-100" src="{{ asset('images/refresh.png') }}" alt="update">
        </div>

        <div class="col-12 col-md-5 mt-3 align-self-md-center">

            <div class="card shadow " >
                <div class="card-header text-black-50 font-weight-bold text-center">
                    <h3>Séance du  {{ booking.date | date('d/m/Y H:i') }}</h3>
                </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-black-50"><strong>Motif  </strong> : {{ booking.motive | capitalize}}</li>
                        <li class="list-group-item text-black-50"><strong>Profession</strong> : {{ booking.job | capitalize}}</li>
                        <li class="list-group-item text-black-50"><strong>Fumeur </strong> : {{ booking.smoker | capitalize}}</li>
                        <li class="list-group-item text-black-50"><strong>Antécédents</strong> : {{ booking.medicalPast | capitalize }}</li>
                        <li class="list-group-item text-black-50"><strong>Pratique sportive </strong> : {{ booking.sports | capitalize}}</li>
                        <li class="list-group-item text-black-50"><strong>Prise quotidienne de médicaments</strong> :{{ booking.medication | capitalize}}</li>
                        <li class="list-group-item text-black-50"><strong>Allergies  </strong> : {{ booking.allergies | capitalize }}</li>
                        <li class="list-group-item text-black-50"><strong>Qualité de sommeil</strong> : {{ booking.sleepSchedule }}/10</li>
                    </ul>

                    <button type="reset" class="btn btn-info">
                        <a class="card-link" href="{{ path('app_admin_admin_index')}}" style="text-decoration: none; color:white;">Retour</a>
                    </button>

                </div><!--FIN CARD shadow-->
        </div><!----- .col-12 CARD -->
</div><!----- d-block d-md-flex FIN BLOC--->

{% endblock %}