{% extends 'base.html.twig' %}

{% block body %}

    <div class="container col-12 d-block d-md-flex justify-content-center ">
        <div class="card shadow col-12 col-md-3 p-0 align-self-center"  >
            <div class="card-header text-black-50 font-weight-bold text-center">
                Patient N°{{ consultation.user.id }}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-black-50"><strong>Nom</strong> : {{ consultation.user.lastname }}</li>
                <li class="list-group-item text-black-50"><strong>Prénom</strong> : {{ consultation.user.firstname
                    }}</li>
                <li class="list-group-item text-black-50"><strong>Age</strong> : {{ consultation.user.age }} ans</li>
                <li class="list-group-item text-black-50"><strong>Email</strong> : {{ consultation.user.email }}</li>
                <li class="list-group-item text-black-50"><strong>Téléphone</strong> : {{ consultation.user
                    .telephone}}</li>
            </ul>
        </div><!--FIN CARD-->

    <div class="col-1 align-self-center">
    <img src="{{ asset('images/next.svg') }}" alt="fleche" class="ml-2 mr-2 align-middle" >
    </div>

        <div class="card shadow col-12 col-md-3 p-0 align-self-center"  >
            <div class="card-header text-black-50 font-weight-bold text-center">
                RDV N°{{ consultation.booking.id }}
            </div>
            <ul class="list-group list-group-flush">

                <li class="list-group-item text-black-50"><strong>Date</strong> : {{ consultation.booking
                    .date| date('d/m/Y H:i')}}</li>
                <li class="list-group-item text-black-50"><strong>Motif de consultation</strong> :{{ consultation
                    .booking
                    .motive
                    |capitalize}}</li>
                <li class="list-group-item text-black-50"><strong>Profession</strong> : {{ consultation.booking.job|
                    capitalize
                    }}</li>
                <li class="list-group-item text-black-50"><strong>Fumeur</strong> : {{ consultation.booking.smoker|
                    capitalize
                    }}</li>
                <li class="list-group-item text-black-50"><strong>Antécédents</strong> : {{ consultation.booking
                    .medicalPast|
                    capitalize
                    }}</li>
                <li class="list-group-item text-black-50"><strong>Pratique du sport</strong> : {{ consultation
                    .booking.sports}}</li>
                <li class="list-group-item text-black-50"><strong>Prise de médicaments au quotidien</strong> : {{
                    consultation.booking.medication|
                    capitalize
                    }}</li>
                <li class="list-group-item text-black-50"><strong>Allergies</strong> : {{ consultation.booking.allergies|
                    capitalize
                    }}</li>
                <li class="list-group-item text-black-50"><strong>Qualité de sommeil</strong> : {{ consultation
                    .booking.sleepSchedule }}</li>
            </ul>
        </div><!--FIN CARD-->

    <div class="col-1 align-self-center">
    <img src="{{ asset('images/next.svg') }}" alt="fleche" class="ml-2 mr-2" >
    </div>

        <div class="card shadow col-12 col-md-3 p-0 align-self-center"  >
            <div class="card-header text-black-50 font-weight-bold text-center">
               Séance N°{{ consultation.id }}
            </div>
            <ul class="list-group list-group-flush">

                <li class="list-group-item text-black-50"><strong>Règlement</strong> : {{ consultation.paiement}}</li>
                <li class="list-group-item text-black-50"><strong>Diagnostic</strong> :{{ consultation.diagnostic}}
                    </li>
                <li class="list-group-item text-black-50"><strong>Traitement</strong> :{{ consultation.traitement
                    }}</li>
                <li class="list-group-item text-black-50"><strong>Commentaire</strong> :{{ consultation
                    .commentaire}}</li>
            </ul>
        </div><!--FIN CARD-->

</div><!--FIN CONTAINER-->
    <div class="text-center mt-5 col-12" >
        <a class="btn btn-info text-white" href="{{ path('app_admin_admin_historiqueconsultation')}}" style="width: 18rem;">Retour</a>
    </div>





{% endblock %}