{% extends 'base.html.twig' %}
{% block title %}Rendez-vous - JACL{% endblock %}
{% block body %}

        <div class="container">

            <h2 class="mt-3 mb-5  mt-md-5 text-center text-uppercase">Prise de rendez-vous pour <span class="pseudo">{{ app.user }}</span></h2>
            {{ form_start(form) }}

            <div class="d-block d-md-flex">
                <div class="form-group col-12 col-md-6 " >

                    {{ form_row(form.motive) }}

                    {{ form_row(form.date) }}

                    {{ form_row(form.job) }}

                    {{ form_row(form.sports) }}

                    {{ form_row(form.smoker) }}

                    {{ form_row(form.medical_past) }}

                    {{ form_row(form.medication) }}

                    {{ form_row(form.allergies) }}

                    {{ form_row(form.sleep_schedule) }}



                    <div class="container">
                        <button type="submit" class="btn btn-info col-12">Valider</button>
                    </div>

                </div>

                {{ form_end(form) }}

                <div class="col-md-6 col-12">
                    <img class="mt-5 img-thumbnail bg-white card-img shadow"  src="{{ asset('images/massage2.jpeg') }}" width="100%">
                    <div class="card mt-3 mt-md-5 ">
                        <div class="card-body " style="color: #1b1e21">
                            <p class="mb-0">
                                Pour facilité la prise en main de la consultation
                                veuillez vous munir de vos dernières mensurations,
                                vos radios ou tout autres antécédants médical concernant
                                la consultation.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>






{% endblock %}
