{% extends 'base.html.twig' %}

{% block title %}{{ app.user }} - Projet JACL{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 justify-content-center">
            <div class="card shadow mt-4 text-black-50" style="width: 18rem;">
                <div class="card-header text-black-50 font-weight-bold text-center">
                    <h3>Mon Profil</h3>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-black-50"><strong>Nom</strong> : {{ profile.lastname }}</li>
                        <li class="list-group-item text-black-50"><strong>Prénom</strong> : {{ profile.firstname }}</li>
                        <li class="list-group-item text-black-50"><strong>Age</strong> : {{ profile.age }}</li>
                        <li class="list-group-item text-black-50"><strong>Email</strong> : {{ profile.email }}</li>
                        <li class="list-group-item text-black-50"><strong>Adresse</strong> : {{ profile.adress }}</li>
                        <li class="list-group-item text-black-50"><strong>Ville</strong> : {{ profile.city }}</li>
                        <li class="list-group-item text-black-50"><strong>Code postal</strong> : {{ profile.zipcode }}</li>
                        <li class="list-group-item text-black-50"><strong>Téléphone</strong> : {{ profile.telephone }}</li>
                    </ul>
                    <div class="mt-1 d-flex justify-content-center" >
                    <a href="{{ path('app_user_edit', {'firstname': app.user.firstname, 'lastname': app.user.lastname}) }}" class="btn btn-outline-primary">Modifier</a>
                    <a href="{{ path('app_index_index') }}" class="btn btn-outline-primary ml-2">Retour Accueil</a>
                    </div>
                </div>
            </div>

            </div>
        </div>

            <h3 class="m-3">Mes rendez-vous</h3>
        <div class="row">
            {% for appointment in appointments %}
            <div class="col-md-4">
            <div class="card mt-4 text-black-50"  style="width: 18rem;">
                <div class="card-body">
                    <div class="card-header text-center" style="background: transparent; font-size: 1.2em; font-weight: bold;">{{ appointment.date|date("d/m/Y") }}</div>
                    <p class="card-text">Antécédents : {{ appointment.medicalPast }}</p>
                    <p class="card-text">Allergies : {{ appointment.allergies }}</p>
                    <p class="card-text">Profession : {{ appointment.job }}</p>
                    <p class="card-text">Médication : {{ appointment.medication }}</p>
                    <p class="card-text">Motif de rendez-vous : {{ appointment.motive }}</p>
                    <p class="card-text">Fumeur : {{ appointment.smoker }}</p>
                    <p class="card-text">Pratique du sport : {{ appointment.sports }}</p>
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
