{% extends 'base.html.twig' %}

{% block title %}{{ app.user }} - Projet JACL{% endblock %}

{% block body %}
    <div class="container">
        <div class="card mt-4" style="width: 18rem;">
            <div class="card-header">Mon Profil :</div>
            <div class="card-body">

                <p class="card-text">Nom : {{ user.lastname }}</p>
                <p class="card-text">Prénom : {{ user.firstname }}</p>
                <p class="card-text">Email : {{ user.email }}</p>
                <p class="card-text">Age : {{ user.age }}</p>
                <p class="card-text">Téléphone : {{ user.telephone }}</p>
                <a href="index.html.twigex" class="btn btn-outline-primary mb-3">Retour Accueil</a>
                <a href="#" class="btn btn-outline-primary">Modification</a>
            </div>
        </div>


    </div>

{% endblock %}
