{% extends 'base.html.twig' %}

{% block title %}{{ app.user }} - Projet JACL{% endblock %}

{% block body %}
    <div class="container">

        <div class="col-md-12 d-flex justify-content-center mt-4 mb-2">
                <div class=" col-10 col-md-3 card shadow  text-black-50 p-0 " >
                    <div class="card-header text-black-50 font-weight-bold text-center">
                        <h3>Mon Profil</h3>
                    </div>
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-black-50"><strong>Nom</strong> : {{ profile.lastname }}</li>
                            <li class="list-group-item text-black-50"><strong>Prénom</strong> : {{ profile.firstname }}</li>
                            <li class="list-group-item text-black-50"><strong>Age</strong> : {{ profile.age }}</li>
                            <li class="list-group-item text-black-50"><strong>Email</strong> : {{ profile.email }}</li>
                            <li class="list-group-item text-black-50"><strong>Adresse</strong> : {{ profile.adress }}</li>
                            <li class="list-group-item text-black-50"><strong>Ville</strong> : {{ profile.city }}</li>
                            <li class="list-group-item text-black-50"><strong>Code postal</strong> : {{ profile.zipcode }}</li>
                            <li class="list-group-item text-black-50"><strong>Téléphone</strong> : {{ profile.telephone }}</li>
                        </ul>

                    </div><!-- FIN CARD BODY-->

                </div><!--FIN CARD -->

            </div><!--Fin col-md-12-->

        <div class="col-12 d-flex justify-content-center mb-2" >
            <a href="{{ path('app_user_edit', {'firstname': app.user.firstname, 'lastname': app.user.lastname}) }}" class="btn btn-outline-info">Modifier</a>
            <a href="{{ path('app_index_index') }}" class="btn btn-outline-info ml-2">Retour Accueil</a>
        </div>


            <h3 class=" text-uppercase text-center myTitleSeance">Mes rendez-vous</h3>
        

        <div class="row">

        {% for appointment in appointments %}


            <div class="card mt-4 text-black-50 col-10 col-md-3 d-md-flex d-block p-0 ml-4 ml-md-0"  >
                <div class="card-body p-0">
                    <div class="card-header text-center font-weight-bold"  >
                        {{ appointment.date|date("d/m/Y H:i") }}
                    </div>
                    <div class="p-3">
                        <p class="card-text"><strong>Antécédents :</strong>{{ appointment.medicalPast }}</p>
                        <p class="card-text"><strong>Allergies :</strong> {{ appointment.allergies }}</p>
                        <p class="card-text"><strong>Profession :</strong> {{ appointment.job }}</p>
                        <p class="card-text"><strong>Médication :</strong> {{ appointment.medication }}</p>
                        <p class="card-text"><strong>Motif de rendez-vous :</strong> {{ appointment.motive }}</p>
                        <p class="card-text"><strong>Fumeur :</strong> {{ appointment.smoker }}</p>
                        <p class="card-text"><strong>Pratique du sport :</strong> {{ appointment.sports }}</p>
                    </div>
                </div>
            </div>
            {% else %}
                <h3 class="text-center">Aucun rendez-vous de prévu</h3>


            {% endfor %}

    </div>
</div><!-- FIN container-->

{% endblock %}
