{% extends 'base.html.twig' %}

{% block title %}{{ app.user }} - Projet JACL{% endblock %}

{% block body %}
    <div class="container">
        <div class="card mt-4 text-black-50" style="width: 18rem;">
            <div class="card-header">Mon Profil :</div>
            <div class="card-body">

                <p class="card-text">Nom : {{ profile.lastname }}</p>
                <p class="card-text">Prénom : {{ profile.firstname }}</p>
                <p class="card-text">Age : {{ profile.age }}</p>
                <p class="card-text">Email : {{ profile.email }}</p>
                <p class="card-text">Téléphone : {{ profile.telephone }}</p>

                <a href="{{ path('app_user_edit', {'firstname': app.user.firstname, 'lastname': app.user.lastname}) }}" class="btn btn-outline-primary">Modifier</a>
                <a href="{{ path('app_index_index') }}" class="btn btn-outline-primary ml-2nnnnnnnnnnnnnnnnnnnn
">Retour Accueil</a>
            </div>
        </div>


    </div>

{% endblock %}
